{% extends 'portfolio/base.html' %}
{% load static %}
{% block title %} About Hosanna C Ordu {% endblock %}
{% block content %}
<div>
  <h1>About</h1>
    <img src="{% static 'portfolio/images/profile.jpg' %}" class="img-fluid mb-4" alt="Profile">
  <div>
    <p>
        I’m Hosanna Ordu, a dedicated and detail-oriented professional with a strong passion for building meaningful digital solutions and creating engaging user experiences. With a background in management, hands-on experience in PHP and Django development, and a growing interest in design and technology, I enjoy turning ideas into functional, polished projects.
    </p>
    <p>
        Over the years, I’ve worked on personal and client projects ranging from websites and blogs to portfolio systems and interactive features. My work is driven by clarity, efficiency, and a desire to constantly improve. I value clean design, intuitive structure, and solutions that not only work—but also leave a lasting impression.
    </p>
    <p>
        Outside coding, I’m also a skilled cook, a fast learner, and someone who enjoys exploring new tools, languages, and creative challenges. Whether collaborating on a team or working independently, I’m committed to delivering high-quality work and continuous growth.
    </p>
    <p>
        I’m always open to new opportunities—whether it’s web development, project collaborations, or creative digital work.
    </p>
  </div>
</div>
{% endblock %}